{% extends 'pages/dashboard/layouts/admin.html' %}
{% block adminpanel %}
  <div>
    {% include 'components/searchBar.html' %}
    <div>
      <div class="flex flex-col gap-1 my-4">
        <div class="bg-gray-100 border-2 border-gray-400 rounded-xl grid grid-cols-5 gap-2 w-full py-2 px-4 text-left">
          <div class="text-lg font-bold text-green-900">Title</div>
          <div class="text-lg font-bold text-green-900">Created at</div>
          <div class="text-lg font-bold text-green-900">Updated at</div>
          <div class="text-lg font-bold text-green-900">Status</div>
          <div class="text-lg font-bold text-green-900">Actions</div>
        </div>
        {% for blog in blogs %}
          <div class="blog-item" data-title="{{ blog.title }}" data-content="{{ blog.content }}" data-author="{{ blog.author }}">
            <div class=" text-left bg-gray-100 border-b-2 border-r-2 border-gray-200 rounded-xl grid grid-cols-5 gap-2 w-full py-2 px-4 hover:scale-[101%] duration-300
              border-l-4 {% if blog.status == 'Active' %}
               border-l-green-700 
              {% elif blog.status == 'Rejected' %}
               border-l-red-700
              {% elif blog.status == 'Pending' %}             
               border-l-yellow-600
              {% else %}
               border-l-gray-400
              {% endif %}">
              <a href="/blog/{{ blog.id }}" class="text-lg font-bold text-green-900">{{ blog.title }}</a>
              <p class="text-sm text-gray-500">{{ blog.created_at }}</p>
              <p class="text-sm text-gray-500">{{ blog.updated_at }}</p>
              <div class="flex gap-4">
                <form action="/blog/change-status/{{ blog.id }}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="status" value="Active" />
                  <Button type="submit" class="py-1 px-3 bg-green-600 hover:bg-green-700 hover:cursor-pointer text-white rounded-lg">Approve</Button>
                </form>
                <form action="/blog/change-status/{{ blog.id }}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="status" value="Rejected" />
                  <Button type="submit" class="py-1 px-3 bg-red-500 hover:bg-red-700 hover:cursor-pointer text-white rounded-lg">Reject</Button>
                </form>
              </div>
              <div class="flex gap-4">
                <a href="/blog/edit/{{ blog.id }}" class="font-bold hover:text-blue-600 my-auto">Edit</a>
                <form action="/blog/delete/{{ blog.id }}" method="post">
                  {% csrf_token %}
                  <Button type="submit" class="py-1 px-3 bg-red-500 hover:bg-red-700 hover:cursor-pointer text-white rounded-lg">Delete</Button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
